@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Sintony&display=swap');

:root {
  margin: 0;
  padding: 0;
  --background-main: rgba(65, 97, 204, 0.4);
}

html {
  background-image:
  linear-gradient(
    to bottom,
    rgba(1, 107, 133, 0.5),
    rgba(129, 52, 52, 0.5)
  );
}

body {
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 8px;
  text-align: center;
  background-color: var(--background-main);
  color: white;
  width: 25%;
  text-shadow: 2px 2px black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  font-family: 'Sintony', sans-serif;
}

h3 {
  text-align: center;
}

.header-section {
  display: flex;
  justify-content: center;
}

.main-content {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 25px;
  justify-items: end;
  flex: 1;
}

.book-list {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(7, 1fr);
  height: fit-content;
  padding-top: 50px;
  padding-left: 50px;
  justify-self: start;
  gap: 25px;
}

.remove-book {
  border: none;
  height: 20px;
  width: 25px;
  position: absolute;
  right: 10px;
}

.book {
  color: white;
  text-shadow: 1px 1px black;
  display: grid;
  grid-template-rows: repeat(5, max-content);
  background-color: var(--background-main);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
  padding: 10px 20px;
  border-radius: 5px;
}

.book-title {
  font-size: 20px;
  text-align: center;
}

.book-image {
  padding: 5px 0;
  width: 100%;
  height: 100%;
}

.book-info {
  padding-top: 12px;
  font-size: 16px;
  display: grid;
  grid-template-rows: repeat(3, max-content);
}

.read-status {
  text-align: center;
}

.side-bar {
  margin-top: 20px;
  margin-right: 50px;
  height: fit-content;
  background-color: var(--background-main);
  border-radius: 30px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
  color: white;
  text-shadow: 1px 1px black;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.add-book {
  padding: 50px;
  text-align: center;
}

.add-book button {
  padding: 7px 14px;
  font-size: 32px;
}

dialog {
  padding: 0;
  border: 1px solid black;
  background-color: var(--background-main);
}

.book-form {
  padding: 10px;
  color: white;
}

.close-dialog {
  color: red;
  border: none;
  float: right;
}

fieldset {
  display: grid;
  border-radius: 10px;
  gap: 10px;
}

input:not(input[type="checkbox"]) {
  width: 97%;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.6);
}

.book-status {
  display: flex;
}

#book-status {
  margin-left: 20px;
}

#submit {
  background-color: rgb(72, 180, 130);
  border: 1px solid rgb(98, 146, 140);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.452);
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  color: rgb(215, 229, 235);
  text-shadow: 1px 1px black;
}

.submit-button {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

footer {
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
  margin-bottom: 10px;
}